:root {
    --dark-grey: #363636; 
    --light-grey: #BEBCBB;
    --orange: #CD3D0F; 
    --blue: #2D64E6; 
    --dark-blue: #161C3B;
    --light: #F5F5F5;
}

html {
    font-family: 'Montserrat', sans-serif;
}

/****************
      BUTTON
 ****************/

.btn_custom {
    padding: 0.5rem;
    border-radius: 20px;
}

.btn_blue {
    background-color: var(--blue);
    text-decoration: none;
    color: white;
}

.btn_orange {
    background-color: var(--orange);
    text-decoration: none;
    color: white;
}

.btn_light {
    background-color: var(--light);
}


/****************
      HEADER
 ****************/


 .header_top {
    background-color: black;
 }


 /****************
       MAIN
 ****************/

 /* jumbo section */

 .img_background_returnal {
    background-image: url(../img/jumbo-bg.png);
    height:675px;
    background-size: cover;
    background-position: center;
 }

/* FIRST SECTION : Ps5 Console */

/* SECOND SECTION : New Release */

.new_release {
    background-color: var(--dark-grey);
}

.img_background_taketwo {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height:613px;
    background-size: cover;
    background-position: center;
 }

 .new_release .card{ 
    border: none !important;
    background-color: transparent !important;
 }

 /* THIRD SECTION : Explore PS4 */

 .explore_ps4 .card{
    border: none !important;
    background-color: transparent !important;
 }

 /* FOURTH SECTION : PlayStationPlus */

 .ps_plus {
    background-color: var(--light-grey);
 }

  /* SIXTH SECTION : PS Now */

  .ps_now {
    background-color: var(--dark-blue);
  }

  /* SEVENTH SECTION : Social */


/****************
     FOOTER
*****************/

.main_footer {
    background-color: var(--blue);
}