:root {
    --dark-grey: #363636; 
    --light-grey: #BEBCBB;
    --text-light-grey: #797979;
    --orange: #CD3D0F; 
    --blue: #2D64E6;
    --light-blue: #147DD2;
    --dark-blue: #161C3B;  
    --light: #F5F5F5;
}

html {
    font-family: 'Roboto', sans-serif;
}

/****************
      GENERAL
 ****************/

.title h1 {
    font-size: 41px;
    font-weight: 500;
}

.title p {
    font-size: 20px;
    color: var(--text-light-grey);
}

.title span {
    color: var(--light-blue);
    padding-bottom: 12px;
    font-weight: 500;
}

.game_banner h1{
    font-size: 40px;
    padding-bottom: 44px;
    font-weight: normal;
}

.game_banner img{
    padding-bottom: 40px;
}

.game_banner p{
    padding-bottom: 37px;
}


/****************
      BUTTON
 ****************/
 
.btn_custom {
    padding: 0.5rem 1rem;
    border-radius: 20px;
}

.btn_blue {
    background-color: var(--blue);
    text-decoration: none;
    color: white;
}

.btn_blue:hover {
    color: white;
    background-color: #2844d1;
}

.btn_orange {
    background-color: var(--orange);
    text-decoration: none;
    color: white;
}

.btn_orange:hover {
    background-color: #af360d;
    text-decoration: none;
    color: white;
}

.btn_light {
    background-color: var(--light);
}


/****************
      HEADER
 ****************/

 /* Header top */

.header_top {
    background-color: black;
}

/* Navbar */

.dropdown-toggle::after {
    border: none;
}


 /****************
       MAIN
 ****************/

 /* jumbo section */

.img_background_returnal {
    background-image: url(../img/jumbo-bg.png);
    height:675px;
    background-size: cover;
    background-position: top;
}

.jumbotron .card_effect:hover {
    border: 2px solid var(--blue);
} 

.card_effect {
    border-radius: 20px;
    padding: 2px;
    border: 2px solid transparent;
}


/* FIRST SECTION : Ps5 Console */

.ps5_gadget .bar_effect {
    position: relative;
    cursor: pointer;
}

.ps5_gadget .bar_effect:hover::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    border-radius: 50%;
    background-color: var(--blue);
}

/* SECOND SECTION : New Release */

.new_release {
    background-color: var(--dark-grey);
}

.img_background_taketwo {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height:675px;
    background-size: cover;
    background-position: top;
 }

 .new_release .card{ 
    border: none !important;
    background-color: transparent !important;
 }

 /* THIRD SECTION : Explore PS4 */

 .explore_ps4 .card{
    border: none !important;
    background-color: transparent !important;
 }


 /* FOURTH SECTION : PlayStationPlus */

 .ps_plus {
    background-color: var(--light-grey);
 }

  /* SIXTH SECTION : PS Now */

  .ps_now {
    background-color: var(--dark-blue);
  }

  /* SEVENTH SECTION : Social */


/****************
     FOOTER
*****************/

.main_footer {
    background-color: var(--blue);
}